body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#center {
  border:" 2px solid #9999" ;
  width: 300px;
  height: 200px;
  background-color: rgb(207, 207, 207); /* Default color */
  transition: background-color 0.3s;
}
